#homePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #CCC4F8;
}

#welcome {
    color: #301D43;
    margin-bottom: 18px;
    font-weight: bold;
    font-size: 1.7rem;
}

#linkInHome {
    text-decoration: none;
    color: #301D43
}

#navButton {
    background-color: #7E74B2;
    padding: 10px;
    font-size: 1.5rem;
    color: black;
}