.userConsole {
   height: 22%;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   padding: 7px 7px 0 7px;
   background-color: var(--home-purple);
}

.central {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   width: 0.1rem;
}

.farLeft {
   /* ensure width is bigger than string is long */
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   min-width: 9rem;
   color: red;
   border: 1px solid red;
   /* default font-size is 1rem, apparently/probably */
}

.userSentence {
   height: 55%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background-color: white;
   overflow: hidden;
}

.panel {
   height: 45%;
   display: flex;
   flex-direction: row;
   box-sizing: border-box;
   padding: 4px;
   justify-content: space-around;
   align-items: center;
}

.reset {
   background: var(--nav-purple);
   padding: 0 7px;
   font-weight: bold;
}
