#mini {
    box-sizing: border-box;
    width: 33%;
    height: 20%;
    font-size: .5rem;
    z-index: 1;
    border-radius: 3px;
}

#letterBox {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 9.5vw;
    /* seems to be unnecessary: */
    height: 100%;
}

#letterInset {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 6px;
}

#theLetter {
    position: absolute;
    top: 5%;
    left: 20%;
    font-size: 2.5rem;
}
