#mini {
    box-sizing: border-box;
    border: 1px solid lightgray;
    width: 33%;
    height: 20%;
}

#letterBox {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid; */
    width: 25%;
    /* seems to be unnecessary: */
    height: 100%;
}

