.miniBox {
   position: relative;
   width: 33%;
   height: 33%;
   border-radius: 3px;
}

.targetLogo {
   position: absolute;
   pointer-events: none;
   top: calc(-0.5 * var(--key-width) + 50%);
   left: calc(
      -0.5 * var(--key-width) + 0.5 * var(--key-width) / var(--num-minis-in-row)
   );
   width: var(--key-width);
   z-index: 1;
}

.targetSpacebar {
   left: calc(
      -0.5 * var(--key-width) + 0.5 * var(--space-width) / var(--num-minis-in-row)
   );
}

.targetTrace {
   opacity: 0.3;
}

.wholeKey {
   position: relative;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: var(--key-width);
}

.wholeKeySpacebar {
   width: var(--space-width);
}

.letter {
   z-index: 1;
}

.shownKey {
   pointer-events: none;
   position: absolute;
   top: 5%;
   left: 5%;
   width: 90%;
   height: 90%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 6px;
   box-sizing: border-box;
   border: 1px solid black;
   font-size: 1.8rem;
   color: black;
}

.toLeftTop {
   background: linear-gradient(to left top, #e8e8e8, 82%, #888);
}

.toTop {
   background: linear-gradient(to top, #e8e8e8, 85%, #888);
}

.toRightTop {
   background: linear-gradient(to right top, #e8e8e8, 82%, #888);
}

.toLeft {
   background: linear-gradient(to left, #e8e8e8, 85%, #888);
}

.noGradient {
   background: inherit;
}

.toRight {
   background: linear-gradient(to right, #e8e8e8, 85%, #888);
}

.toLeftBottom {
   background: linear-gradient(to left bottom, #e8e8e8, 82%, #888);
}

.toBottom {
   background: linear-gradient(to bottom, #e8e8e8, 85%, #888);
}

.toRightBottom {
   background: linear-gradient(to right bottom, #e8e8e8, 82%, #888);
}
