#mini-box {
    position: relative;
    width: 33%;
    height: 33%;
    border-radius: 3px;
}

#whole-key {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#shown-key {
    pointer-events: none;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: 2rem;
    color: black;
}