#mini-box {
    position: relative;
    width: 33%;
    height: 33%;
    border-radius: 3px;
}

.target-logo {
    position: absolute;
    pointer-events: none;
    top: calc(-0.5 * var(--key-width) + 50%);
    left: calc(-0.5 * var(--key-width) + 0.5 * var(--key-width) / var(--num-minis-in-row));
    width: var(--key-width);
    z-index: 1;
}

.target-spacebar {
    left: calc(-0.5 * var(--key-width) + 0.5 * var(--space-width) / var(--num-minis-in-row));
}

.target-trace {
    opacity: 0.3;
}

#whole-key {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.key-whole-key {
    width: var(--key-width);
}

.space-whole-key {
    width: var(--space-width);
}

#shown-key {
    pointer-events: none;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: 2rem;
    color: black;
}

#letter {
    z-index: 1;
}